body {
  font-family: Helvetica;
  margin: auto;
  max-width: 80em;
  text-align: center;
}

.title {
	background-size: cover;
	background-image: url("../images/the-flatiron-building.png");
}

h1 {
	color: white;
	font-size: 70px;
	font-weight: bold;
}

.links {
	font-size:18px;
}

.centerText {
	background-image: url("../images/the-flatiron-building.png");
}

.footer{
	font-size: 11px;
	background-color: dimgray;
	text-align: left;
}

.container2 p {
	font-size: 14px;
}






a {
	color:white;
}